<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs-list">
      <h1>Blogs</h1>
      <% if (blogs.length > 0) {%> <% blogs.map(blog => { %>
      <h3 class="blog-title"><%= blog.title %></h3>
      <p class="blog-body"><%= blog.body %></p>
      <% }) %> <% } else { %>
      <p>There are no blogs created.</p>
      <% } %>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
